@import "../node_modules/bootstrap/dist/css/bootstrap.css";

.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.my-border-radius {
  border-radius: 20px;
}

.my-custom-form {
  border:none;
  outline: none;  
}

.tab-content{
  width: 100%;
}

.modal-dialog { 
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}